<div class="container-fluid">
    <app-header></app-header>
</div>

<br>
<div class="container">
    <div class="row">
        <div class="col">
            <div>
                <div class="card myrgb" style="width:400px">
                    <div class="card-body">
                        <h4 class="card-title">{{empobj.emp_Name}} </h4>
                        <div class="card-text">
                            <h5 style="text-align: center;">
                                <label for="">Status:</label> &nbsp;
                                <span [ngClass]="{
                        'badge':true,
                        'badge-pill':true,
                        'badge-success':empobj.status.toLowerCase() == 'active',
                        'badge-warning':empobj.status.toLowerCase()=='inactive',
                        'badge-danger':empobj.status.toLowerCase()=='suspend'
                    }" style="padding: 10px;">{{empobj.status}}</span>

                            </h5>

                            <br>
                            <label for="">Mobile No :</label> &nbsp;
                            <span> {{empobj.mobileNo}} </span><br>

                            <label for="">Department :</label> &nbsp;
                            <span>{{empobj.department}}</span><br>


                            <label for="">Country :</label> &nbsp;
                            <span> <strong> {{empobj.country.cname}} </strong> </span><br>

                            <label for="">Created By :</label> &nbsp;
                            <span> <strong> {{empobj.createdBy}} </strong> </span><br>



                            <label for="">Updated Date :</label> &nbsp;
                            <span>{{empobj.updated_Date}}</span><br>



                        </div>

                        <button class="btn btn-primary" (click)="OnUpdate()">Update Employee</button>
                        <button routerLink="/home" class="btn btn-warning">Home</button>

                    </div>
                </div>

            </div>
        </div>